@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url("\static\img\img_register.png");
    background-size: cover;
    background-position: center;
}

.container {
    width: 360px;
    height: 550px; 
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    color: #fff;
    backdrop-filter: blur(15px); 
    -webkit-backdrop-filter: blur(15px);
    padding: 30px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container h1 {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 10px;               
    white-space: nowrap; 
    font-size: 25px;
    width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}
.container h1 img {
    height: 60px;
    width: auto;
    object-fit: contain;
    margin: 0; 
    background-color: transparent;
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px; 
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 20px;
    font-size: 15px;
    color: white;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.remember-me {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0 15px;
}

.remember-me label {
    display: flex;
    align-items: center;
    color: #fff;
}

.remember-me label input {
    accent-color: white;
    margin-right: 6px;
}

.remember-me a {
    text-decoration: none;
    color: #fff;
}

.remember-me a:hover {
    text-decoration: underline;
}

.container button {
    width: 100%;
    height: 45px;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 700;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
}

.container button:hover {
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateY(-2px);
    box-shadow: 0px 8px 15px rgba(0,0,0,0.3);
}